
body{
    /* background-image: url('/images/620eadce00f6a.jpg'); */
    background: #06070d;
    color: #fff;
    position: relative;
    min-height: 100vh;
    padding-bottom: 4em;
}

#join {
    margin: 0 auto;
    width: 800px;
    height: 600px;
}

.join_banner {
    background-color: #000;
    color: white;
    height: 100%;
    /* background-image: url('/images/shinji.png'); */
    /* background-size: cover; */
    float: left;
    width: 50%;
}

.join_form {
    color: #000;
    height: 100%;
    width: 50%;
    float: left;
    background: #fff;
}

/* comments */
.comments {
    color: #000;
    background: #fff;
}

.comments-body {
    border: #000 2px solid;
}





/* /users/:id */
.cover-image {
    height: 300px;
    background-color: white;
    color: #000;
    position: relative;
}

.user-container {
    position: absolute;
    top:60%;
}

.user-profile-img {
    float: left;
    width: 100px;
}

.user-profile-text {
    float: left;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;
}

.social {
    font-size: 2em;
}

.social-item {
    display: inline-block;
    margin: 0 1em;
    color: #fff;
}

.social-item a {
    color: #fff;
}

.social-item a:hover {
    color:#777;
}