
body{
    /* background-image: url('/images/620eadce00f6a.jpg'); */
    background: #06070d;
    color: #fff;
    position: relative;
    min-height: 100vh;
    padding-bottom: 4em;
}

/* position relative so we can position overlay to absolute */

/* #join {
    margin: 0 auto;
    width: 800px;
    height: 600px;
} */

.join_banner {
    background-color: #000;
    color: white;
    height: 100%;
    /* background-image: url('/images/shinji.png'); */
    /* background-size: cover; */
    float: left;
    width: 50%;
}

.join_form {
    color: #000;
    height: 100%;
    width: 50%;
    float: left;
    background: #fff;
}

#join a {
    color: #fff;
}

#join a:hover{
    color: aqua;
}

/* comments */
.comments {
    color: #000;
    background: #fff;
}

.comments-body {
    border: #000 2px solid;
}

.img__container {
    width: 100%;
    background: rgb(50, 50, 50); 
    padding:20px;
}




/* /users/:id */
.cover-image {
    height: 300px;
    background-color: white;
    color: #000;
    position: relative;
}

.user-container {
    position: absolute;
    top:60%;
}

.user-profile-img {
    float: left;
    width: 100px;
}

.user-profile-text {
    float: left;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;
    margin: auto;
}

.social {
    font-size: 2em;
}

.social-item {
    display: inline-block;
    margin: 0 1em;
    color: #fff;
}

.social-item a {
    color: #fff;
}

.social-item a:hover {
    color:#777;
}


.grid {}

/* Masonry */
.grid-item { 
    width: 300px; 
    margin: 5px;
}

.grid-item img {
    border-radius: 30px; 
}

.art {
    position: relative;
    padding: 0;
}

.art__painting{
    object-fit: cover;
    width: 100%;
}

.art__overlay__link {
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 2; */
}

.art__painting {
    max-height: 100%;
}

/* positioning the overlay on top of the art container */
/* overlay is 0 by default and will be 1 when hovered */
.art__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    color: #fff;
}


.art__overlay:hover {
    opacity: 1;
}

.art__overlay__content{
    width: 100%;
    padding: 1em 1.5em;
    position: absolute;
    /* bottom: 0; */
    /* text-align: center; */
}
.art__creater{
float: left;
width: 100%;
}

.art__comments__count{
    /* float: right; */
    margin-left: 5em;
}

.art__title {
    font-size: 1.5em;
}
