<%- layout('layouts/boilerplate')  %> 

<div class="container">
    <h3>Home</h3>
    <div class="row">
        <% arts.forEach(art => { %>
            <div class="col-md-4">
                <a href="/arts/<%= art._id %>">
                    <img class="img-fluid" src="<%= art.imageURL.url %>" alt="">
                </a>
            </div>
        <% }) %>
    </div>
</div>